body {
    background: #000;    
}

.site__clock{
    position: absolute;
    top: 35%;
    left: 25%;
    background: linear-gradient(90deg, #ff0000, #ffff00, #ff00f3, #0033ff, #ff00c4, #ff0000);
    background-size: 400%;
    font-size: 50px;
    font-family: sans-serif;
    letter-spacing: 10px;
    font-weight: 600;
    word-spacing: 5px;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    animation: animate 10s linear infinite;
}

@keyframes animate{
    0%{
        background-position: 0%; 
    }
    100%{
        background-position: 400%;
    }
}
